html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container Div  */
.maincontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 60vh;
    width: 45vw;
    display: flex;
    justify-content: center;
}

/* Design cartoon Circle  */
.circle{
    height: 30rem;
    width: 30rem;
    background-color: grey;
    border-radius: 50%;
    position: relative;
}

/* hair left side  */
.hairleft{
    background-color: black;
    height: 100px;
    width: 120px;
    transform: rotate(160deg);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 30%;
    border-top-left-radius: 90%;
    margin-left: 3rem;
}


/* hair right side  */
.hairright{
    background-color: black;
    height: 100px;
    width: 13rem;
    transform: rotate(25deg);
    position: absolute;
    top: 0;
    left: 13.1rem;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    /* border-bottom-right-radius: 20%; */
}


/* face  */
.face{
    height: 15rem;
    width: 18rem;
    background-color: #e7dc75;
    margin-left: 6rem;
    margin-top: -2rem;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

/* ear left  */
.earleft{
    height: 30px;
    width: 30px;
    background-color: #000000;
    z-index:1;
    position: absolute;
    margin-top: 3.2rem;
    margin-left:-2.6rem;
    border: 10px solid #e7dc75;
    transform: rotate(-90deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.earright{
    height: 30px;
    width: 30px;
    background-color: #000000;
    z-index:3;
    position: absolute;
    margin-top: 3.2rem;
    margin-left:17.8rem;
    border: 10px solid #e7dc75;
    transform: rotate(90deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


/* Eyes  */
.lefteyebrow{
    height: 35px;
    width: 40px;
    position: absolute;
    margin-top: 3.2rem;
    margin-left: 4rem;
    border-radius: 50%;
    border-top: 5px solid black;
}

.righteyebrow{
    height: 35px;
    width: 40px;
    position: absolute;
    margin-top: 3.2rem;
    margin-left: 10rem;
    border-radius: 50%;
    border-top: 5px solid black;
}

.lefteye{
    height: 30px;
    width: 20px;
    border: 4px solid;
    position: absolute;
    margin-top: 4.1rem;
    margin-left: 5rem;
    border-left: 7px solid;
    border-radius: 50%;
    background-color: #ffff;
}

.righteye{
    height: 30px;
    width: 20px;
    border: 4px solid;
    position: absolute;
    margin-top: 4.1rem;
    margin-left: 11rem;
    border-left: 7px solid;
    border-radius: 50%;
    background-color: #ffff;
}

.mustache{
    height: 3px;
    width: 50px;
    background-color: black;
    position: absolute;
    margin-top: 9.5rem;
    margin-left: 6.5rem;
    border-radius: 60%;
    box-shadow: 0px 0px 4px 4px;
}

/* Mouth  */
.mouth{ 
    height: 6rem;
    width: 6rem;
    position: absolute;
    margin-top: 7.3rem;
    margin-left: 6.1rem;
    border-radius: 60%;
    border-bottom: 22px solid #5c5a5a;
}

/* cartoon Body  */
.body{
    height: 9rem;
    width: 22rem;
    background-color: #038503;
    margin-left: 4rem;
    border-radius: 20%;
    margin-top: -1px;
}

.collar{
    height: 8rem;
    width: 8rem;
    background-color: #e7dc75;
    position: absolute;
    margin-top: -1rem;
    margin-left: 7rem;
    border-radius: 50%;
}

/* small hair  */
.smallhair{
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-bottom: 60px solid #000000 ;
    position: absolute;
    margin-left: 13.5rem;
    margin-top: -2.5rem;
    
}